[submodule "references/fusion-sdk"]
	path = references/fusion-sdk
	url = https://github.com/1inch/fusion-sdk
[submodule "references/cross-chain-swap"]
	path = references/cross-chain-swap
	url = https://github.com/1inch/cross-chain-swap
[submodule "references/cross-chain-resolver-example"]
	path = references/cross-chain-resolver-example
	url = https://github.com/1inch/cross-chain-resolver-example
[submodule "references/fusion-resolver-example"]
	path = references/fusion-resolver-example
	url = https://github.com/1inch/fusion-resolver-example
[submodule "contracts/ethereum/lib/forge-std"]
	path = contracts/ethereum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/ethereum/lib/limit-order-protocol"]
	path = contracts/ethereum/lib/limit-order-protocol
	url = https://github.com/1inch/limit-order-protocol
[submodule "contracts/ethereum/lib/openzeppelin-contracts"]
	path = contracts/ethereum/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/ethereum/lib/solidity-utils"]
	path = contracts/ethereum/lib/solidity-utils
	url = https://github.com/1inch/solidity-utils.git
